@use '../../sass/abstracts/variables' as *;

.stories {
  height: 100vh;
  position: relative;
  &_bg_video {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.15;
    object-fit: cover;
  }
  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}
