@use './base' as *;

.u_secondary_heading {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $color_primary, $color_teritary);
  color: transparent;
  -webkit-background-clip: text;
  letter-spacing: 0.2rem;
  transition: all 1s;
  &:hover {
    transform: skewX(20deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color_grey_dark, 0.5);
  }
}

.u_tertiary_heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.u_content_para_text {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: justify;
}

.u_flex_column {
  display: flex;
  flex-direction: column;
}

.u_fill_over_button {
  &:link,
  &:visited {
    padding: 0.3rem 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: $color_teritary;
    text-decoration: none;
    border-bottom: 1px solid $color_primary;
    transition: all 0.5s;
  }
  &:hover {
    background-color: $color_primary;
    color: $color_white;
    box-shadow: 0 1rem 2rem rgba($color_primary, 0.5);
    transform: translateY(-1rem);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color_primary, 0.5);
    transform: translateY(-0.5rem);
  }
}
