// Colors
$color_primary: #7ed56f;
$color_secondary: #55c57a;
$color_teritary: #28b485;
$color_white: #fff;

// black_shades
$color_black: #000;
$color_black1: #333;
$color_grey_dark: #777;
$color_grey_dark2: #999;
$color_grey_light1: #f7f7f7;

// Blue Shades
$color_blue_light: #2323ff;
$color_blue_dark: #0101a2;

// Orange Shades
$color_orange_light: #ff8000;
$color_orange_dark: #b75c00;
$color_red_medium: #ff2e2e;
