@use '../../app.scss' as *;
.feature {
  //   padding: 20rem 0;
  height: 95vh;
  margin-top: -10rem;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color_primary, 0.8),
      rgba($color_teritary, 0.8)
    ),
    url('../../assets/images/nat-4.jpg');
  background-size: cover;
  background-position: top;
  display: flex;
  transform: skewY(-6deg);

  &_main {
    flex: 1;
    // background-color: blueviolet;
    padding: 25rem 0;
    display: flex;
    justify-content: center;
    transform: skewY(6deg);
    &_card {
      margin: 2rem;
      padding: 2rem;
      display: flex;
      max-width: 20rem;
      text-align: center;
      align-items: center;
      flex-direction: column;
      filter: saturate(0);
      justify-content: space-evenly;
      background-color: rgba($color_white, 0.8);
      transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
      &:hover {
        animation: wiggle 1s ease forwards;
        filter: saturate(1);
        box-shadow: -2rem 4rem 5rem rgba($color_black, 0.3);
      }
      &_heading {
        margin: 0;
        font-size: 2rem;
        font-weight: 600;
        color: $color_teritary;
        text-transform: uppercase;
      }
      &_text {
        cursor: default;
        color: $color_teritary;
        font-size: 1.6rem;
      }
    }
  }
}

@keyframes wiggle {
  25% {
    transform: rotateZ(0.01turn);
  }
  75% {
    transform: rotateZ(-0.01turn) scale(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}
