@use '../../app.scss' as *;

@mixin flex_column {
  display: flex;
  flex-direction: column;
}

.about {
  margin-top: -22rem;
  padding: 20rem 0;
  background-color: $color_grey_light1;
  &_heading {
    flex: 0.1;
  }
  &_content {
    display: flex;
    gap: 2rem;
    padding: 1rem 20rem;

    &_left {
      flex: 1;
      gap: 4rem;
      padding: 1rem 2rem;

      &_content {
        gap: 1rem;
      }
    }
    &_right {
      flex: 1;
      &_main {
        position: relative;
        background-color: lightblue;
        &_img {
          width: 50%;
          box-shadow: 0 1.6rem 4rem rgba($color_black, 0.5);
          border-radius: 0rem;
          position: absolute;
          margin: 1rem;
          transition: all 0.2s;
          outline-offset: 1rem;
          &:hover {
            outline: 1.5rem solid $color_primary;
            transform: scale(1.05);
            z-index: 1;
          }
        }
        &_img1 {
          left: 0;
          top: -2rem;
        }
        &_img2 {
          right: 0;
          top: 5rem;
        }
        &_img3 {
          left: 20%;
          top: 20rem;
        }
        &:hover &_img:not(:hover) {
          transform: scale(0.95);
        }
      }
    }
  }
}

.about_learn_more {
  display: inline;
  width: fit-content;
}
