/* 
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */

@use '../../app.scss' as *;

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color_primary, 0.8),
      rgba($color_teritary, 0.8)
    ),
    url('../../assets/images/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-color: $color_black;

  &_logo {
    position: absolute;
    top: 4rem;
    left: 4rem;

    &_img {
      height: 3.5rem;
    }
  }

  &_heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color_white;
    text-transform: uppercase;
    gap: 1rem;

    &_primary_text {
      font-weight: 600;
      font-size: 6rem;
      letter-spacing: 3rem;
      padding-left: 3rem;
      animation: moveInLeft;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.6, 1.65, 0.68, 0.435);
    }
    &_secondary_text {
      font-weight: 700;
      padding-left: 1.38rem;
      font-size: 2rem;
      letter-spacing: 1.38rem;
      animation: moveInRight;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.6, 1.65, 0.68, 0.435);
    }
    &_button_text {
      color: $color_grey_dark;
      font-size: 2rem;
      margin-top: 8rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      padding: 1rem 4rem;
      border-radius: 5rem;
      transition: all 0.1s;
      display: inline-block;
      background-color: $color_white;
      text-transform: uppercase;
      position: relative;
      cursor: pointer;
      animation: moveUp 0.5s ease-in-out 0.75s;
      animation-fill-mode: backwards;
      &::after {
        content: '';
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $color_white;
        transition: all 0.5s;
      }
      &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color_black, 0.2);
        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
      &:active {
        transform: translateY(-0.1rem);
      }
    }
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  90% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  90% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
  }
}
