/* 
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */

@use '../../app.scss' as *;

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color_primary, 0.8),
      rgba($color_teritary, 0.8)
    ),
    url('../../assets/images/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  &_logo {
    position: absolute;
    top: 4rem;
    left: 4rem;

    &_img {
      height: 3.5rem;
    }
  }

  &_heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color_white;
    text-transform: uppercase;
    gap: 1rem;

    &_primary_text {
      font-weight: 600;
      font-size: 6rem;
      letter-spacing: 3rem;
      padding-left: 3rem;
      animation: moveInLeft;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.6, 1.65, 0.68, 0.435);
    }
    &_secondary_text {
      font-weight: 700;
      padding-left: 1.38rem;
      font-size: 2rem;
      letter-spacing: 1.38rem;
      animation: moveInRight;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.6, 1.65, 0.68, 0.435);
    }
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  90% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  90% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
