/* 
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */
header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgb(40, 180, 133, 0.8)
    ),
    url('../../assets/images/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.h_logo_container {
  position: absolute;
  top: 40px;
  left: 40px;
}

.h_logo_img {
  height: 35px;
}

.h_heading_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  gap: 10px;
}

.h_primary_heading_text {
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 30px;
  padding-left: 30px;
  animation: moveInLeft;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.6, 1.65, 0.68, 0.435);
}
.h_secondary_heading_text {
  font-weight: 700;
  padding-left: 13.8px;
  font-size: 20px;
  letter-spacing: 13.8px;
  animation: moveInRight;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.6, 1.65, 0.68, 0.435);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  90% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
  }
}

.h_button_text {
  color: #777;
  font-size: 20px;
  margin-top: 80px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px 40px;
  border-radius: 50px;
  transition: all 0.1s;
  display: inline-block;
  background-color: #fff;
  text-transform: uppercase;
  position: relative;
  animation: moveUp 0.5s ease-in-out 0.75s;
  animation-fill-mode: backwards;
}

.h_button_text:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.h_button_text:active {
  transform: translateY(-1px);
}

.h_button_text::after {
  content: '';
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
  transition: all 1s;
}

.h_button_text:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
