@use '../../sass/abstracts/variables' as *;

.footer_section {
  display: flex;
  flex-direction: column;
  background-color: $color_black1;
  padding: 3rem;

  .footer_logo {
    flex: 1;
    margin: auto;
  }

  .footer_details {
    flex: 1;
    display: flex;
    &_links {
      flex: 1;
      list-style: none;
      padding: 5rem;
      font-size: 1.6rem;
      color: $color_grey_light1;

      &_item {
        display: inline-block;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
    }
    &_copyright {
      flex: 1;
      padding: 5rem;
      font-size: 1.6rem;
      color: $color_grey_light1;
      letter-spacing: 0.15rem;
    }
  }
}
