@use '../../../app.scss' as *;

.green_button_text {
  width: fit-content;
  height: fit-content;
  color: $color_white;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 1rem 4rem;
  border-radius: 5rem;
  transition: all 0.1s;
  display: inline-block;
  background-color: $color_primary;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  // animation: moveUp 0.5s ease-in-out 0.75s;
  animation-fill-mode: backwards;
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $color_primary;
    transition: all 0.5s;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color_black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-0.1rem);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
  }
}
